/* Change defaults here*/

$primary: #320975;
$danger: grey;
$secondary: #ed0cc8;
$success: orange;
$dark: #030000;
$body: #fafafa;
$light: #fff;

$font-family-base: "roboto";
@import "bootstrap";

/*Custom css here*/
body {
  min-height: 100vh;
  background: $body;
  min-width: 350px;
}

#root {
  min-height: 100vh;
}

#front-main {
  min-height: 90vh;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.logo-heading {
  font-family: "Pixelify Sans";
  font-size: 10rem;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.dropdown,
.dropdown-menu,
.dropdown-li {
  min-width: 250px;
}

input.card-search {
  height: 42px;
}

.course-card {
  transition-duration: 300ms;
  transition-property: all;
  cursor: default;
}

.course-card:hover {
  border-color: #320975;
}

@media only screen and (max-height: 900px) {
  #front-main {
    min-height: 75vh;
  }
}

@media only screen and (max-width: 767px) {
  .news-nav {
    justify-content: center !important;
  }

  #reg-course {
    max-width: 90%;
  }
}
